<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringRestTest</display-name>
  
  <!-- Root context configuration -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:xpadro/tutorial/rest/configuration/root-context.xml</param-value>
  </context-param>
  
  <!-- Loads Spring root context, which will be the parent context -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- Spring servlet -->
  <servlet>
  	<servlet-name>springServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:xpadro/tutorial/rest/configuration/app-context.xml</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springServlet</servlet-name>
  	<url-pattern>/spring/*</url-pattern>
  </servlet-mapping>
</web-app>